NUXT_PUBLIC_API_BASE=http://localhost:3001/api
NUXT_PUBLIC_BACKEND_URL=http://localhost:3001
NUXT_PUBLIC_KEYCLOAK_URL=http://localhost:8081
NUXT_PUBLIC_KEYCLOAK_REALM=school-system
NUXT_PUBLIC_KEYCLOAK_CLIENT_ID=school-system-frontend
NUXT_PUBLIC_KEYCLOAK_AUDIENCE=school-system-api
